body {
    background: #0a2250;
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#root {
    background: linear-gradient( 250deg, #131e38, #042e65);
    padding: 1rem 3rem;
    color: white;
    box-shadow: 4px 4px 32px #000a;
}

h1,
h3 {
    text-align: center;
}

.chart {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}