body {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#root {
    background: linear-gradient( 250deg, #7089cc, #23569a);
    padding: 1rem 3rem;
    color: white;
}

.chart {
    border: 1px solid green;
}